*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.calculator{
  width: 100%;
  background-color: bisque;
  max-width: 400px;
  overflow: hidden;

}

.display{
  padding: 16px;
  text-align: right;
  font-size: 20px;
  font-weight: 300;

}

.display span{
  font-size: 14px;
}

button{
  padding: 16px;
  appearance: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.operators{
  display: flex;
}
.operators button{
  flex: 1 1 0%;
  font-weight: 700;
}
.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  
}
